<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD63Jo_DUj_MG2rf5sXVrfIrvh5uu7cRsw</string>
	<key>GCM_SENDER_ID</key>
	<string>679067320386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esrico.eventoscepa</string>
	<key>PROJECT_ID</key>
	<string>eventos-esri-cepa</string>
	<key>STORAGE_BUCKET</key>
	<string>eventos-esri-cepa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679067320386:ios:a7c261bf806d3cd1516ddb</string>
</dict>
</plist>